<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <meta name="author" content="github.com/ccrudkin">
        <meta name="description" content="A web app for list sharing and communal planning.">
        <meta name="keywords" content="list,group,planning,share,sharing,communal,planning,social,web,app,application,collin,rudkin">
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Montserrat:400,700" rel="stylesheet"> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>