<% include header %>

        <div class="page">
            <div class="masthead">
                <span id='mastheadText'>Communalist</span>
            </div>
            <div class="main">
                <div class="infoPanel">
                    <div class="infoForm">
                        <form id="infoForm">
                            <label for='listCode'>View list:</label>
                            <br>
                            <input type="text" id="listCode" placeholder="List code" size='16' maxlength="5">
                            <span id='status'></span>
                        </form>
                    </div>
                    <div class="infoForm">
                        <div>Create list:</div>
                        <button type='button' class="buttons">New list</button>
                    </div>
                </div>
                <div class="list">
                    <div class="listHead">
                        <div id="listTitle"></div>
                        <div id="listDisplayCode"></div>
                    </div>
                    <div id="listContents"></div>
                    <div id="listFoot"></div>
                </div>
            </div>
            <div class="foot">

            </div>
        </div>
        <script src='/javascripts/getList.js'></script>

<% include footer %>