* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 1000px;
    margin: auto;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95vh;
}

.masthead {
    text-align: center;
    background-color: #666;
    width: 100%;
}

#mastheadText {
    font-family: 'Amatic SC', cursive;
    font-size: 6em;
    color: #ddd;
}

.main {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.infoPanel {
    width: 20%;
    min-width: 185px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    color: #bbb;
    padding: 1em;
}

.infoPanel input {
    width: 75%;
    font-size: 1.25em;
    padding: .25em;
    border: 1px solid #666;
    border-radius: .5em;
    margin: .25em 0em;
    text-transform:uppercase;
}

#status img {
    position: relative;
    top: .25em;
    width: 1.5em;
    height: auto;
    margin-left: .25em;
}

.infoForm {
    margin: 1em 0em;
}

.buttons {
    color: #bbb;
    background-color: #333;
    width: 90%;
    font-size: 1.25em;
    padding: .25em;
    border: 2px solid #bbb;
    border-radius: .5em;
    margin: .25em 0em;
}

.buttons:hover {
    color: #333;
    background-color: #bbb;
    cursor: pointer;
}

.buttonInverse {
    color: #333;
    background-color: #bbb;
    font-size: 1em;
    padding: .25em 1em;
    border: 2px solid #333;
    border-radius: .5em;
    margin: .25em .25em;
}

.buttonInverse:hover {
    color: #bbb;
    background-color: #333;
    cursor: pointer;
}

.list {
    width: 80%;
    background-color: #bbb;
    min-height: 300px;
    height: 100%;
    font-size: 1.25em;
    padding: 0em 1em 1em 1em;
}

.listHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    padding: .25em;
    border-bottom: 1px dashed #333;
    margin-bottom: .5em;
}

#listTitle {
    font-size: 2em;
    margin: 0em .5em;
}

#listDisplayCode {
    font-size: 1.5em;
    color: #333;
    margin: 0em .5em;
}

#innerListCode {
    color: #666;
}

#listContents {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #333;
    background-color: #ccc;
    resize: none;
    min-height: 10em;
    height: 80%;
    width: 100%;
    border: none;
    margin: .25em;
    padding: .25em;
}

#listFoot {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.saveStatus {
    width: 1.5em;
    height: auto;
    margin-left: .25em;
}