* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 1000px;
    margin: auto;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 105vh;
    min-width: 320px;
}

.masthead {
    text-align: center;
    background-color: #666;
    width: 100%;
}

#mastheadText {
    font-family: 'Amatic SC', cursive;
    font-size: 6em;
    color: #ddd;
}

.main {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.infoPanel {
    width: 20%;
    min-width: 200px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    color: #bbb;
    padding: 1em;
}

.infoPanel input {
    width: 80%;
    font-size: 1.25em;
    padding: .25em;
    border: 1px solid #666;
    border-radius: .5em;
    margin: .25em 0em;
    text-transform:uppercase;
}

#status img {
    position: relative;
    top: .25em;
    width: 1.5em;
    height: auto;
    margin-left: .25em;
}

.infoForm {
    margin: 1em 0em;
    min-width: 11em;
}

.buttons {
    color: #bbb;
    background-color: #333;
    width: 80%;
    font-size: 1.25em;
    padding: .25em;
    border: 2px solid #bbb;
    border-radius: .5em;
    margin: .25em 0em;
}

.buttons:hover {
    color: #333;
    background-color: #bbb;
    cursor: pointer;
}

.buttonInverse {
    color: #333;
    background-color: #bbb;
    font-size: 1em;
    padding: .25em 1em;
    border: 2px solid #333;
    border-radius: .5em;
    margin: .25em .25em;
}

.buttonInverse:hover {
    color: #bbb;
    background-color: #333;
    cursor: pointer;
}

.list {
    width: 80%;
    background-color: #bbb;
    font-size: 1.25em;
    padding: 0em 1em 1em 1em;
}

.listHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    padding: .25em;
    border-bottom: 1px dashed #333;
    margin-bottom: .5em;
}

#listTitle {
    font-size: 2em;
    margin: 0em .25em;
    font-family: 'Montserrat', sans-serif;
    background-color: #bbb;
    resize: none;
    border: none;
    height: 1.5em;
}

#listDisplayCode {
    font-size: 1.5em;
    color: #333;
    margin: 0em .5em;
}

#innerListCode {
    color: #666;
}

#listContents {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #333;
    background-color: #ccc;
    resize: none;
    min-height: 10em;
    height: 80%;
    width: 100%;
    border: none;
    margin: .25em;
    padding: .25em;
}

#listFoot {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.saveStatus {
    width: 1.5em;
    height: auto;
    margin-left: .25em;
}

@media only screen and (max-width: 1000px) {
    .listHead {
        font-size: .8em;
    }
}

@media only screen and (max-width: 840px) {
    html {
        font-size: .8em;
    }
    .listHead {
        font-size: .6em;
    }
    .infoForm {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 1em;
    }
    .main {
        flex-direction: column;
        justify-content: flex-start;
    }
    #mastheadText {
        font-size: 4.5em;
    }
    .infoPanel {
        width: 100%;
        padding: 1em;
        align-items: center;
        min-height: 200px;
    }
    .infoForm {
        width: 50%;
        text-align: left;
        margin: .25em;
    }
    .list {
        width: 100%;
        flex: 1;
        padding: 1em 1em 4em 1em;
    }
    .listHead {
        flex-direction: column;
        align-items: flex-start;
    }
}